* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
body {
  background: #f2f6f2;
  color: #222;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
}
html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 0.8em;
}
*,
*::after,
*::before {
  border: 1px solid red;
}
